.promo {
    background-color: bisque;
}

#navegacion ul {
    list-style-type: none;
    text-align: right;
    color: white;
}

#navegacion li {
    display: inline;
    text-align: right;
    margin: 0 10px 0 0;
    color: white;
}

.header {
    padding-top: 5px 10px 5px 10px;
    background-color: rgb(115, 114, 113);
}

.ini {
    color: white;
    text-decoration: none;
}

.in {
    color: white;
    text-decoration: none;
}

.pro {
    color: white;
    text-decoration: none;
}

.titulo {
    color: white;
    text-align: center;
    top: 40px;
}

.img1 {
    float: left;
    padding-left: 10px;
    padding-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 17px;
    min-height: 270px;
    position: relative;
    text-align: left;
}

.img2 {
    width: 100%;
    height: auto;
    margin: 0;
}

.img3 {
    width: 10.9%;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
}

.img4 {
    width: 10.9%;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
}

.img5 {
    width: 10.9%;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
}

.img6 {
    width: 10.9%;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
}

.img7 {
    width: 10.9%;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
}

.img8 {
    width: 10.9%;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0;
}

.tx1 {
    padding-left: 74px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx2 {
    padding-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx3 {
    padding-left: 210px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx4 {
    padding-left: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx5 {
    padding-left: 187px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx6 {
    padding-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx7 {
    padding-left: 125px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx8 {
    padding-left: 210px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx9 {
    padding-left: 210px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx10 {
    padding-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx11 {
    padding-left: 210px;
    font-family: Arial, Helvetica, sans-serif;
}

.tx12 {
    padding-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(115, 114, 113);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.box {
    width: 1px;
    height: 1px;
    align-items: center;
    padding-left: 500px;
}

.container-1 {
    width: 3000px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 30%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 0.1%;
    -moz-border-radius: 0.1%;
    border-radius: 0.1%;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: rgb(115, 114, 113);
}

.contenedor {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    overflow: hidden;
}

.text1 {
    padding-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
}